<h1><%= "Best Buy Stores within 20 miles of #{@zip}" %> </h1>

<% @best_buy_stores.each do |best_buy_store| %>
  <div class="best_buy_store">
    <%= best_buy_store.long_name, class:"best_buy_store_long_name" %>
    <%= best_buy_store.city, class:"best_buy_store_city" %>
    <%= best_buy_store.distance, class:"best_buy_store_distance" %>
    <%= best_buy_store.phone, class:"best_buy_store_phone" %>
    <%= best_buy_store.type, class:"best_buy_store_type" %>
  </div>
<% end %>